html, body {
    font-family: 'Noto Sans', sans-serif;
}
.carousel-card {
    animation: no-transition 3.5s steps(2) infinite alternate;
    width: 300px;
    float: left;
    display: inline-block;
}
.carousel-container {
    width: 600px;
}
.container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #1A1243;
}
@keyframes no-transition {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-600px, 0px);
    }
}
.hero {
    background: url(ll-logo.svg) no-repeat center;
    height:35px;
    margin-top: 18px;
    margin-bottom: 32px;
}
.header, .carousel-card-header, .carousel-card-content {
    text-align: center;
    line-height: 1.2;
    color: #F9F6FC;
}
.header, .carousel-card-header {
    font-weight: bold;
}
.header {
    font-size: 16pt;
    margin: 0 15px;
}

.carousel-card-header {
    font-size: 14pt;
    margin-bottom: 0;
}

.carousel-card-content {
    font-size: 10pt;
    line-height: 1.4;
    margin: 0 20px;
}
